<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Spring Framework Book Shop Application</title>
</head>
<body>
	<h1>Product List</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Publisher</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}">123</td>
			<td th:text="${book.title}">Kitten Fights and other Oddities</td>
			<td th:text="${book.publisher.id}">Plonk Publishing</td>
		</tr>
	</table>
</body>
</html>